/*Selectors*/
/* id
class
tag */
.demo {



    /* width: 300px;
    height: 100px;
    margin: 20px;
   
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); */
    
    
    /* background properties */

    /* background-color: #000;
    background-image: url(../images/test.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed; */

    /* Text Properties */
    /* color: #000;
    text-transform: capitalize;
    text-decoration:  underline;
    
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-indent: 150px; 
    text-align-last: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
     */

     /* margins and padding */


     width: 500px;
 
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
     border: 5px solid #000;
     margin: 0 auto;
     background-color: #f00;


     /* block/inline/inline-block */
     display: block;
     display: inline;
     display: inline-block;
     display: none;

}

span{
    display: inline-block;
    background-color: #f00;
    margin: 5px;
    width: 200px;
    opacity: 0.5;
}

