*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ---=== Common Classes Start Here ---=== */
body{
    background-color: aliceblue;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}
.section{
    margin: 50px 0;
}
/* ---=== //Common Classes End Here ---=== */
.header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 100px;
    background-color: rgb(154, 182, 206);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.logoBox{
    width: 10%;
    margin-right: 100px;
}
.nav{
    padding: 10px 0;
}
.navbar{
    display: flex;
    margin: 0;
    padding: 0;
}
.navItem{
    margin: 0 25px;
}
.navLink{
    font-size: 20px;
    color: #0084b4;
    padding: 0 20px; 
    display: block;
}
.navLink:hover,
.navLink:active{
    color: #fff;
    background: #2196f3;
}
.headerRight{
    margin-left: 100px;
}
.SignUpBtn{
    display: inline-block;
    font-size: 20px;
    color: #0084b4;
    padding: 10px 30px;
}
.menuToggle{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media (max-width:600px){
    .header{
        padding: 0 20px;
    }
    .menuToggle{
        display: block;
        position: absolute;
        right: 50px;
    }
    .nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .nav.active{
        left: 0;
    }
    .navbar{
        display: block;
        text-align: center;
    }
    .navItem{
        border-bottom: 1px solid rgba(0 0 0 0.2);
    }
}
/* Review Section */
.sectionTitle{
    font: 52px 800 #262626;
    padding: 0 20px;
    margin: 10px 0;
}

/* //Review Section */